body{
    background-color:#D2A679;
    color: black;
    font-family:Microsoft JhengHei UI ;
    text-align:center;
}
.navegacion {
    list-style-position: inside;

}
.color1{
    color: black;
}
h3 {
  background-color: #a14f0c;   
  padding: 30px;               
  margin: 20px auto;           
  border-radius: 12px;         
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); 
  width: 20%;                  
  text-align:center;            
  color: #222;   
  font-family: cursive;
  box-shadow: grey 5px 10px 15px;              
}
img{
    box-shadow: grey 5px 10px 15px;
    border-radius: 20px;
}